<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
	<link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Open+Sans" rel="stylesheet">
	<link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<% if @game.game_won || @game.game_lost %>
		<%= erb :game_over %>
		<% else %>
		<%= erb :board_partial %>
		<% end %>

	</div>
	
	<div class="controls">
		<div class="panel red">
			<ul>
				<% if @game.game_won || @game.game_lost %>
				<%= erb :reset_button_partial %>
				<% else %>
				<%= erb :button_partial %>
				<% end %>
			</ul>
		</div>
	</div>

</body>
</html>