<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
</head>
<body>
	<h2>Hangman.</h2>

<!-- 	# <p><%= @game.methods.inspect %></p>
 -->	
	<p><%= @result_array %></p> <!-- this isn't passed, the whole game object is, but that doesn't work with last_guess_good, and game_won
	ane I dont know why -->

	<p><%= @game.result_array %></p>

	<p><% if !@game.last_guess_good %>
			<%= "Try again, there is no #{@last_guess}" %>
			<% end %>
		</p>
	<p><% if @game.game_won %>
			<%= "You win!!" %>
			<% elsif @game.game_lost %>
			<% "You're out of guesses, the word was #{@word}" %>
			<% end %>
		</p>


	<p>You have <%= @game.guesses_remaining %> guesses left</p>

	<form method="post" action="/">
  	<input type="text" name="last_guess" value = "s" placeholder="Guess a letter">
  	<input type="submit" value="Guess!">
  </form>
  <!-- <form method="post" action="/save">
  	<input type="text" name="game_name" placeholder="Save game as...">
  	<input type="submit" value="Save">
  </form>
  <form method="post" action="/load">
  	<button type="submit" name="load_game_button" value="load_game">Load Game</button>
  </form> -->
</body>
</html>