<!DOCTYPE html>
<html>
<head>
	<title>Load Game</title>
</head>
<body>
	<h2>Choose a game</h2>
	

	<ul> 
  <% @games_array.each do |game| %>
   <!--  <li><a href="/home/params[:<%=game%>]"> <%= game %> </a></li> -->
    <form method="post" action="/play_saved?<%= game %>">
  	<button type="submit" name="game_name" value="<%= game %>"><%= game %></button>
  </form>
  <% end %>
</ul> 
</body>
</html>

